.middleColumn .text,
.middleColumn .dropdown,
.middleColumn .textarea {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ff8000;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.middleColumn .text:hover,
.middleColumn .dropdown:hover,
.middleColumn .textarea:hover {
  border: 1px solid #ff8000;
  box-shadow:1px 1px 4px #ff8000;
}
.middleColumn .textarea {
	height: auto;
}
.Actions label {
  font-weight: bold;
  font-size: 14px;
  color: #ff8000;
}
.Actions .action {
  display: block;
  width: 100%;
  color: #ff8000;
  background-color: transparent;
  text-align: center;
  margin-top: 25px;
  padding: 8px 2em;
  font-size: 18px;
  line-height: 1.3333333;
  border: 1px solid #ff8000;
  border-radius: 4px;
}
.Actions .action:hover {
  background-color: #ff8000;
  color: #fff;
}
.sent-message {
  padding: 14px 12px;
  /*border: 1px solid #ff8000;*/
  border-radius: 4px;
  margin-bottom: 20px;
}
.sent-message p {
  padding: 0;
  margin: 0;
}


